.bannerAbout {
    display: contents;
}

.bannerAbout > img {
    border-radius: 25px;
    width: calc(100% - 26px);
    margin: 0 13px;
    height: 223px;
}

.collapsesAbout {
    margin: 31px 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 31px;
}

@media only screen and (max-width: 768px) {
    .collapsesAbout {
        margin: 16px -8px;
    }

    .bannerAbout {
    }

    .bannerAbout > img {
        height: 115px;
        border-radius: 12px;
        margin: 0;
        width: 100%;
    }

    .banner > p {
        font-size: 24px;
        padding-top: 22px;
        padding-right: 90px;
        padding-left: 15px;
        line-height: 29px;
        white-space: break-spaces;
        text-align: left;
    }

}
