.banner {
    background-image: url('../assets/Banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 223px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.banner > img {
    width: calc(100% - 26px);
}

.banner > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 190px;
    color: #FFFFFF;
}

@media only screen and (max-width: 1048px) {

    .banner {
        height: 195px;
    }

    .banner > p {
        line-height: 175px;
    }
}

@media only screen and (max-width: 768px) {

    .banner {
        height: 115px;
    }

    .banner > p {
        line-height: 175px;
    }
}

