.carousel {
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    */
    /*animation: carouselIn .5s;*/
    /*transition: opacity .3s;*/
    z-index: 10;

    width: 100%;
    height: 400px;
    background-color: #282c34;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;

}

.carousel_next,
.carousel_prev {
    /*background: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 15L11 10L6 5L7 3L14 10L7 17L6 15Z" fill="darkred"/></svg>') center center / 30px 28px no-repeat;*/
    background: url('../assets/arrow-right.png') center center / 15px 30px no-repeat;
    width: 50px;
    height: 100%;
    border: none;
    /*position: fixed;
    top: -4rem;*//*
    margin-top: 4rem;*/
    z-index: 11;
    opacity: .5;
    right: 19rem;
}
.carousel_prev {
    right: auto;
    left: 19rem;
    transform: rotate(180deg);
    float: left;
}
.carousel_next {
    float: right;
}

.carousel button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
    outline: none !important;
    zoom: 1;
}

.carousel button:hover {
    opacity: 1;
}

.carousel_container {
    display: flex;
    /*margin-right: 50px;
    margin-left: 50px;*/
    /* position: fixed;*/
    /*width: 100%;
    height: 100%;*/
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    width: calc(100% - 100px);
}

.carousel_container img {
    /*max-width: 46%;
    max-height: 90%;*/
    /*width: 90%;*/
    /*height: 300px;*/
   /* animation: carouselIn .5s;*/
    align-self: center;
    height: 100%;
    width: 100%;
}
@keyframes carouselIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
.carousel_number {
    color: white;
    position: relative;
    top: 90%;
    width: 80px;
    display: flex;
    justify-content: center;
    left: calc(50% - 40px);
    padding: 5px;
}
@media only screen and (max-width: 1048px){
    .carousel {
        width: 100%;
        margin-left: -10px;
        height: 220px;

    }
    .carousel_number {
        left: calc(50% - 106px);
    }


}
@media only screen and (max-width: 768px){
    .carousel {
        margin: 0;
    }
    .description p:nth-child(2) {
        font-size: 14px;
        line-height: 0;
    }


}
