.footer {
    display: block;
    background-color: black;
    min-height: 209px;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    bottom: 0;
    width: 100%;
    position: relative;
}

.footer > img {
    margin-top: 66px;
}

.footer p {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
