.description {
    line-height: 18px;


}

.stars {
    margin-top: -2rem;
    float: right;
}

.description p {
    font-size: 34px;
    color: rgba(255, 96, 96, 1);
}

.description p:nth-child(2) {
    font-size: 24px;
}

.host {
    display: flex;
    margin-top: -8rem;
    float: right;
}

.host img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
}

.host p {
    width: 93px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #FF6060;
    padding: 2px 12px 22px 12px;
}

.collapses {
    margin: 35px 10px;
}

@media only screen and (max-width: 1048px) {
    .host {
        margin-top: 0;
        float: right;
    }

    .description {
        line-height: 20px;
    }

    .description p {
        font-size: 18px;
        color: rgba(255, 96, 96, 1);
    }

    .description p:nth-child(2) {
        font-size: 14px;
    }

    .collapses {
        clear: both;
        margin: 35px 0px;
    }

    .stars {
        float: left;
        margin-top: 22px;
    }
}
@media only screen and (max-width: 768px){
    .description p {
        line-height: 1.5;
    }
    .stars {
        float: left;
        margin-top: 1.5rem;

    }
    .host img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        margin-top: 15px;
    }
    .host p {
        width: 94px;
        height: 30px;
        font-size: 15px;
        /* line-height: 142.6%; */
        padding: 21px 11px 15px 3px;
    }

}

@media only screen and (max-width: 390px) {

   /* .stars {
        float: left;
        margin-top: -70px;
    }*/
}
