.logo {
    width: 180px;
    float: left;
}

@media only screen and (max-width: 1048px) {

}

@media only screen and (max-width: 768px) {
    .logo {
        width: 110px;
        float: left;
    }
}
