

nav {
    display: contents;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    transition: all .2s;
    color: rgba(255, 96, 96, 1);
    white-space: nowrap;
    text-decoration: none;
    line-height: 50px;
}

nav ul li a.active {
    text-decoration: underline;
}

nav ul li a {
    width: 26px;
    position: relative;
    padding: 40px 30px 32px;
}


@media only screen and (max-width: 1048px) {

    nav {
        padding: 0px;
    }
    nav ul li {
        width: 168px;
    }

    nav ul li a {
        font-size: 18px;
    }

    nav ul li a {
        position: relative;
        padding: 5px;
        width: 26px;
    }
}

@media only screen and (max-width: 768px) {
}
