.undef {
    min-height: 1010px;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    color: rgba(255, 96, 96, 1);

}
.undef > h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 191px;
    line-height: 60px;


}
.undef p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;



}
 .undef a {

     line-height: 130px;

     font-family: Montserrat;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     text-decoration-line: underline;
     color: #FF6060;
 }

@media only screen and (max-width: 1048px){
    .undef {
        min-height: 1058px;
    }
    .undef > h1 {
        line-height: 286%;
        font-size: 242px;
        margin: 0;
    }
    .undef > p {
        font-size: 40px;
        margin: 0;
        line-height: 0px;

    }
    .undef > a {
        font-size: 27px;
        color: #FF6060;
    line-height: 220px;
        top: -8rem;
    }
}
@media only screen and (max-width: 768px){
    .undef p {
        font-size: 19px;
        white-space: break-spaces;
        line-height: 1;
        margin-top: -7rem;
        padding: 25px 31px;
        /* padding-right: 57px; */
        text-indent: 39px;
    }
    .undef > h1 {
        font-size: 96px;
        margin: 0;
        line-height: 347px;
    }
    .undef a {
        line-height: 168px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-decoration-line: underline;
        color: #FF6060;
    }
}
