@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");;
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Italic.ttf") format("truetype");;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
}

body {
    font-family: 'Montserrat', sans-serif;
}


.thumbs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F6F6F6;
    width: calc(100% - 138px);
    margin: 43px 0;
    padding: 50px 56px;
    border-radius: 25px;
}

.tags {
    display: flex;
}

.collapses {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

div.container {
    margin: 0 22px;
}

#root > main {
    margin: 40px 87px;
    padding-bottom: 150px;
    min-height: calc(100% - 200px);
}

#root > main > header {
    display: block;
    margin-bottom: 40px;
    margin-left: 22px;
}

@media only screen and (max-width: 1048px) {

    #root > main {
        margin: 20px 43px;
    }

    .thumbs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #root > main > header {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {

    div.container {
        margin: 0 0px;
    }

    #root > main {
        margin: 10px 21px;
    }

    .thumbs {
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }


    .collapses {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .tags {
        justify-content: left;
    }

    #root > main > header {
        display: contents;
        margin: 0;
    }

}
