.tag {
    background: rgba(255, 96, 96, 1);
    border-radius: 20px;
    min-width: 119px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    padding: 0px 10px;
}

.text {
    display: contents;
    color: white;
    line-height: 2;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .tag {
        border-radius: 9px;
        min-width: 67px;
        height: 24px;
        margin: 13px 7px;
        padding: 0px 10px;
    }

    .tag:nth-child(1) {
        margin-left: -10px;
    }

    .text {
        color: white;
        white-space: nowrap;
        font-size: 11px;
    }

}
