
.thumb{
    margin: 10px;
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 0;

}

.thumb > div{
    float: left;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}
.thumb > div > p {
    color: white;
    white-space: break-spaces;
    position: relative;
    top: 70%;
    left: 23px;
    width: 50%;
}
@media only screen and (max-width: 1548px){
    .thumb > div > p{
        width: calc(100% - 23px);
    }

}

